*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right bottom, skyblue, blue);
}

h1{
  color: rgb(237, 237, 255);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 2.5rem;
  background-color: #212121;
  padding: 15px;
}
.main{
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#addBtn{
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, skyblue 0%, blue 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;          
}

#addBtn:hover{
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #5c3700;
  transform: translateY(-2px);
}

#addBtn:active{
  box-shadow: inset 0px 3px 7px #212121;
  transform: translateY(2px);
}
#addBtn:hover {
  background-color: #06a086;
}

.note{
  width: 300px;
  background-color: #393e64;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.note:hover{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.tool{
  background-color: #222831;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.tool i{
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tool i:hover{
  color: #aca1a1
}

.note textarea{
  width: 300px;
  border: none;
  min-height: 220px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: transparent;
}

.note textarea:focus{
  outline: none;
}

